.iui__typography__wrapper {
    font-weight: bold;
}

.iui__typography__wrapper.iui__typography--h1 {
    font-size: 6rem;
}

.iui__typography__wrapper.iui__typography--h2 {
    font-size: 5rem;
}

.iui__typography__wrapper.iui__typography--h3 {
    font-size: 4rem;
}

.iui__typography__wrapper.iui__typography--h4 {
    font-size: 3.5rem;
}

.iui__typography__wrapper.iui__typography--h5 {
    font-size: 3rem;
}

.iui__typography__wrapper.iui__typography--h6 {
    font-display: 2.4rem;
}