$h1: 6rem;
$h2: 5rem;
$h3: 4rem;
$h4: 3.5rem;
$h5: 3rem;
$h6: 2.4rem;
$p: 1.2rem;

@mixin font-size($level) {
    h1 {
        font-size: $level * $h1;
    }

    h2 {
        font-size: $level * $h2;
    }

    h3 {
        font-size: $level * $h3;
    }

    h4 {
        font-size: $level * $h4;
    }

    h5 {
        font-size: $level * $h5;
    }

    h6 {
        font-size: $level * $h6;
    }

    p {
        font-size: $level * $p;
    }
}


.iui__typography__wrapper {
    .iui__typography__bold {
        font-weight: bold;
    }

    .iui__typography__inline {
        display: inline;
    }

    .iui__typography__strike {
        text-decoration: line-through;
    }

    &.iui__typography__scale1 {
        @include font-size(1);
    }

    &.iui__typography__scale2 {
        @include font-size(2);
    }
    
    &.iui__typography__scale3 {
        @include font-size(3);
    }   
}